
<div class="flex-column flex-start full-width">
  <div class="flex-row flex-center flex-gap">
    <%= render "resumes/checklist" %>
    <h2>Checks</h2>
  </div>
  <ul>
    <li>Background Check    - Clean</li>
    <li>Drug Test (12-panel)- Clean</li>
  </ul>
</div>