<div style="width: 100%; height: 80px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <p style="font-size: 12px">Powered by SkillArc</p>
  <%= render "common/logo" %>
</div>