<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    <%= Rails.root.join('app', 'assets', 'stylesheets', 'resume.css').read  %>
  </style>
</head>
<body style="width: 100%">
  <%= yield %>
</body>
</html>